body {
  margin: 0;
  font-family: 'Montserrat',
    sans-serif;
    color:aliceblue;
    background:linear-gradient(#916B9C, #3f387a);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New',
    monospace;
}

.PieCharts {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  text-align: center;
  min-height: 100vh;
  padding-left: 3%;
}

/*.PieCharts_title{
padding: 20px;
padding-left: 200px;
}
*/
.SleepCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
    border: 2px solid #3a2c2c00; /* spessore, tipo e colore */
    margin: 2rem auto; 
    width: 300px;
    height: 300px;
    border-radius: 50%;     /*cerchio*/
    background-color: #444c976e;
      opacity: 0;
      transform: translateY(-20px);
      animation: fadeSlideDown 1s ease-out forwards;
  }
  

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Tips {
  display: flex;
  padding-left: 0%;
  flex-direction: column;
  align-items: left;
  justify-content: right;
  text-align: left;

  position: absolute;
  top: 90%;
  right: 190px;
  background-size: 3000;
  background-color: #000000; /* Colore di sfondo opzionale */
  padding: 10px;
  border-radius: 8px;

  width: 400px;      /* Larghezza personalizzata */
  height: 400px;     /* Altezza personalizzata */
}

.Tips_title {
  display: flex;
  text-decoration-line: underline;
  padding-left: 0%;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
}


.separator_line {
  width: 70%;           
  height: 1px;         
  background-image: -moz-radial-gradient(white, rgba(255, 255, 255, 0));
  margin: 1rem auto 1.5rem auto; 
  border: none;
}

.TimeChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
    border: 2px solid #ff000000; /* spessore, tipo e colore */
    margin: 1rem auto; 
    width: 1100px;
    height: 600px;
    background-color: #dddbe7;
  }

  .Timechart_title {
    font-size:x-large;
    color: #3f387a;
    padding-bottom: 1%;

  }

  .Trends {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
      border: 2px solid #ff000000; /* spessore, tipo e colore */
      margin: 1rem auto; 
      width: 1100px;
      height: 600px;
      background-color: #dddbe7;
  }

  .TrendsControl {
    color:#4b4b4b;
    

  }
/*funzioni*/

@keyframes fadeSlideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

